.detailed-image {
    max-width: 90%;
    max-height: 90%;
}

.md-content {
    text-align: left;
    margin: 2.5% 5% 5%;
}

table, tr, td, th {
    border: 1px solid black;
}

img {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

@media (orientation: portrait) {
    .detailed-image {
        width: 85%;
    }

    .md-content {
        margin: 2.5% 5% 10%;
    }

}