.column-div {
    background-color: #005CB9;
    border: 4px solid #FF5F00;
    padding: 5% 5%;
    align-items: center;
    font-size: 2em;
    color:white;
    text-decoration: none;
}

.column-div:hover {
    background-color: #0256a8;
}

.column-div:active {
    background-color: #004381;
}

.homepage-parent {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}